{% extends 'base.html.twig' %}
{% block title %}
    Подтвердите вашу почту
{% endblock %}
{% block description %}
    Подтвердить почту для продолжения
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="py-5 alert alert-warning">
                <h1 class="h3 mb-3 font-weight-normal">Подтвердите вашу почту</h1>
                <p>
                    Было отправлено письмо с ссылкой. Нажмите на неё, чтобы активировать аккаунт перед
                    входом в систему.
                </p>
            </div>
        </div>
    </div>
{% endblock %}