{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <section id="homepage">
        <h1>Стартер для Symfony проектов</h1>
    </section>
{% endblock %}